@model dynamic

<header class="static-page-header">
    <h1 class="static-page-title">@Html.TitleForPage(T("Change Password").ToString()) </h1>
    <p class="static-page-subtitle">@T("Use the form below to change your password.")</p>
</header>

<p class="account-actions">@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"])</p>

@Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())

@using (Html.BeginFormAntiForgeryPost()) {
    <div class="form-group">
        <label for="currentPassword">@T("Current Password")</label>
        @Html.Password("currentPassword")
        @Html.ValidationMessage("currentPassword")
    </div>

    <div class="form-group">
        <label for="newPassword">@T("New Password")</label>
        @Html.Password("newPassword")
        @Html.ValidationMessage("newPassword")
    </div>

    <div class="form-group">
        <label for="confirmPassword">@T("Confirm New Password")</label>
        @Html.Password("confirmPassword")
        @Html.ValidationMessage("confirmPassword")
    </div>

    <button type="submit" class="btn btn-primary">@T("Change Password")</button>
 } 