<header class="static-page-header">
    <h1 class="static-page-title">@Html.TitleForPage(T("Lost Password").ToString())</h1>
    <p class="static-page-subtitle">@T("Please enter your username or email address. You will receive a link to create a new password via email.")</p>
</header>

@using (Html.BeginFormAntiForgeryPost()) { 
    <div class="form-group">
        @Html.TextBox("username", "", new { placeholder = T("Username or Email") }) 
        @Html.ValidationMessage("username") 
    </div>

    <button type="submit" class="btn btn-primary">@T("Send Request")</button>
 } 